</td>
</tr>
<tr>
    <td colspan="2">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="nav">
                    <ul>
                        <li><a href="index.php?action=000&language=en"><?php echo International::getLanguage('common', 1);?></a></li>
                        <li><a href="index.php?action=001&language=en"><?php echo International::getLanguage('common', 2);?></a></li>
                        <li><a href="index.php?action=002&language=en"><?php echo International::getLanguage('common', 3);?></a></li>
                        <li><a href="index.php?action=003&language=en"><?php echo International::getLanguage('common', 4);?></a></li>
                        <li><a href="index.php?action=005&language=en"><?php echo International::getLanguage('common', 6);?></a></li>
                        <li><a href="index.php?action=004&language=en"><?php echo International::getLanguage('common', 7);?></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="6" align="center" valign="middle" class="td5">
                    <?php echo International::getLanguage('common', 5);?><br/></td>
            </tr>
            <tr>
                <td colspan="6" align="center" valign="middle" class="td5">
                    <?php echo International::getLanguage('common', 8);?>
                </td></tr>
        </table>
    </td>
</tr>
</table>
</body>

</html>
