<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><?php echo $html_title;?></title>
        <script type="text/javascript" src="./application/templates/js/calendar.js" ></script>
        <script type="text/javascript" src="./application/templates/js/jquery-1.4.2.min.js" ></script>
        <link rel="stylesheet" href="./application/templates/css/c2.css"></link>
    </head>
    <body>
        <table  width="980" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr><td colspan="2">
                    <table width="980" height="110" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2" width="980" align="right" valign="bottom" background="./application/templates/images/ss1.jpg">
                                <a href="index.php?action=000&language=zh"><img src="./application/templates/images/ann6.jpg" width="100" height="30" border="0" /></a>&nbsp;&nbsp;
                                <a href="index.php?action=000&language=en"><img src="./application/templates/images/ann7.jpg" width="100" height="30" border="0"/></a>&nbsp;&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="3" colspan="2"></td></tr>
            <tr>
                <td colspan="2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="nav">
                                <ul>
                                    <li><a href="index.php?action=000&language=en"><?php echo International::getLanguage('common', 1);?></a></li>
                                    <li><a href="index.php?action=001&language=en"><?php echo International::getLanguage('common', 2);?></a></li>
                                    <li><a href="index.php?action=002&language=en"><?php echo International::getLanguage('common', 3);?></a></li>
                                    <li><a href="index.php?action=003&language=en"><?php echo International::getLanguage('common', 4);?></a></li>
                                    <li><a href="index.php?action=005&language=en"><?php echo International::getLanguage('common', 6);?></a></li>
                                    <li><a href="index.php?action=004&language=en"><?php echo International::getLanguage('common', 7);?></a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="3" colspan="2"></td></tr>
            <tr><td colspan="2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td><script>
                                var widths=980;              
                                var heights=200;              
                                var counts=3;   
                                img1=new Image ();img1.src='./application/templates/images/fj.jpg'; 
                                img2=new Image ();img2.src='./application/templates/images/lc.jpg'; 
                                img3=new Image ();img3.src='./application/templates/images/hc.jpg'; 
                                url1=new Image ();url1.src='./application/templates/header_zh.html';
                                url2=new Image ();url2.src='./application/templates/header_zh.html';
                                url3=new Image ();url3.src='./application/templates/header_zh.html';


                                var nn=1;
                                var key=0;
                                function change_img()
                                {if(key==0){key=1;}
                                    else if(document.all)
                                    {document.getElementById("pic").filters[0].Apply();document.getElementById("pic").filters[0].Play(duration=2);}
                                    eval('document.getElementById("pic").src=img'+nn+'.src');
                                    eval('document.getElementById("url").href=url'+nn+'.src');
                                    for (var i=1;i<=counts;i++){document.getElementById("xxjdjj"+i).className='axx';}
                                    document.getElementById("xxjdjj"+nn).className='bxx';
                                    nn++;if(nn>counts){nn=1;}
                                    tt=setTimeout('change_img()',3000);}
                                function changeimg(n){nn=n;window.clearInterval(tt);change_img();}
                                document.write('<style>');
                                document.write('.axx{padding:1px 7px;border-left:#cccccc 1px solid;}');
                                document.write('a.axx:link,a.axx:visited{text-decoration:none;color:#fff;line-height:12px;font:9px sans-serif;background-color:#666;}');
                                document.write('a.axx:active,a.axx:hover{text-decoration:none;color:#fff;line-height:12px;font:9px sans-serif;background-color:#999;}');
                                document.write('.bxx{padding:1px 7px;border-left:#cccccc 1px solid;}');
                                document.write('a.bxx:link,a.bxx:visited{text-decoration:none;color:#fff;line-height:12px;font:9px sans-serif;background-color:#D34600;}');
                                document.write('a.bxx:active,a.bxx:hover{text-decoration:none;color:#fff;line-height:12px;font:9px sans-serif;background-color:#D34600;}');
                                document.write('</style>');
                                document.write('<div style="width:'+widths+'px;height:'+heights+'px;overflow:hidden;text-overflow:clip;">');
                                document.write('<div><a id="url"><img id="pic" style="border:0px;filter:progid:dximagetransform.microsoft.wipe(gradientsize=1.0,wipestyle=4, motion=forward)" width='+widths+' height='+heights+' /></a></div>');
                                document.write('<div style="filter:alpha(style=1,opacity=10,finishOpacity=80);background: #888888;width:100%-2px;text-align:right;top:-12px;position:relative;margin:1px;height:12px;padding:0px;margin:0px;border:0px;">');
                                for(var i=1;i<counts+1;i++){document.write('<a href="javascript:changeimg('+i+');" id="xxjdjj'+i+'" class="axx" target="_self">'+i+'</a>');}
                                document.write('</div></div>');
                                change_img();
                                </script></td>
                        </tr></table>
                </td></tr>
            <tr>
                <td height="5" colspan="2"></td></tr>
            <tr>
                <td width="140px" valign="top">
                    <table width="140px" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="nav1">
                                <ul>
                                    <li><a href="index.php?action=000&language=en"><?php echo International::getLanguage('common', 1);?></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr><td height="5"></td></tr>
                        <tr>
                            <td class="nav1">
                                <ul>
                                    <li><a href="index.php?action=001&language=en"><?php echo International::getLanguage('common', 2);?></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr><td height="5"></td></tr>
                        <tr>
                            <td class="nav1">
                                <ul>
                                    <li><a href="index.php?action=002&language=en"><?php echo International::getLanguage('common', 3);?></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr><td height="5"></td></tr>
                        <tr><td class="nav1">
                                <ul>
                                    <li><a href="index.php?action=003&language=en"><?php echo International::getLanguage('common', 4);?></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr><td height="5"></td></tr>
                        <tr><td class="nav1">
                                <ul>
                                    <li><a href="index.php?action=005&language=en"><?php echo International::getLanguage('common', 6);?></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr><td height="5"></td></tr>
                        <tr><td class="nav1">
                                <ul>
                                    <li><a href="index.php?action=004&language=en"><?php echo International::getLanguage('common', 7);?></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr><td height="5"></td></tr>
                    </table>
                </td>
                <td width="840px" valign="top">

