<table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td align="center">
            <form action="admin.php" method="post" style="display: inline">
                <input type="hidden" name="action" value="updateContactShow">
                <input type="hidden" name="aut" value="<?php echo base64_encode(Registry::get('authkey'));?>">
                <input type="hidden" value="zh" name="value1">
                <input class="submit1" type="submit" value="修改中文联系方式">
            </form>
            <form action="admin.php" method="post" style="display: inline">
                <input type="hidden" name="action" value="updateContactShow">
                <input type="hidden" name="aut" value="<?php echo base64_encode(Registry::get('authkey'));?>">
                <input type="hidden" value="en" name="value1">
                <input class="submit1" type="submit" value="修改英文联系方式">
            </form>
        </td>
    </tr>
</table>
<form action="admin.php" method="post">
    <table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr><td colspan="2" align="center"><h3>修改联系方式</h3></td></tr>
        <tr>
            <td width="10%" align="right">联系方式：</td>
            <td align="left"><textarea name="value1" cols="100" rows="38" id="content1" style="width: 100%;height: 300px;visibility: hidden"><?php echo $html_contact;?></textarea></td>
        </tr>
        <tr>
            <td width="10%" align="right">语言种类：</td>
            <td align="left">
                <?php if($html_language=='zh'){?>
                <input type="radio" name="value2" value="zh" checked="checked">中文&nbsp;&nbsp;<input type="radio" name="value2" value="en">英文
                <?php }else{?>
                <input type="radio" name="value2" value="zh">中文&nbsp;&nbsp;<input type="radio" name="value2" value="en" checked="checked">英文
                <?php }?>
            </td>
        </tr>
        <tr><td class="td5" align="center" colspan="2">
                <input type="hidden" name="action" value="updateContact">
                <input type="hidden" name="aut" value="<?php echo base64_encode(Registry::get('authkey'));?>">
                <input class="submit1" type="submit" value="提交">
            </td>
        </tr>
    </table>
</form>